<ion-header>
  <ion-toolbar>
    <ion-title>Create Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="trackerForm" [formGroup]="taskForm">
      <ion-list>
        <ion-item>
          <ion-label>Task Name:</ion-label>
          <ion-input name="taskName" placeholder="Enter name of task" type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Date to be Finished:</ion-label>
          <ion-datetime displayFormat="DD MM YY" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <!-- <ion-item>
          <ion-label>Toggle</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Radio</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Checkbox</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>-->
        <ion-button expand="full" color="tertiary" (click)="saveTask()" [disabled]="!taskForm.valid">Start</ion-button>
      </ion-list>
  </form>

</ion-content>
